<!DOCTYPE html>
<html lang="pt-BR">
{% include 'recipes/partials/head.html' %}
{% include 'recipes/partials/header.html' %}

<style>
    .add-ship-title {
        font-size: 2.7rem;
        color: var(--color-black);
        text-decoration: none;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin: auto;
    }
</style>


<body>
    <h1 class="add-ship-title">Cadastro de Novos Navios</h1>
    <form method="post" action="{% url 'ship' %}">
        {% csrf_token %}
        <div class="Container-add-ship">
            <label for="Situação">SITUAÇÃO:</label>
            <select id="situacao" name="situacao" required>
                <option value="none" ></option>
                <option value="Atracados">Atracados</option>
                <option value="Fundeados">Fundeados</option>
                <option value="Esperando">Esperando</option>
            </select><label style="color:red;"> *</label>
        </div>
        <div class="Container-add-ship">
            <span class="Floating-text">Identificação da Embarcação</span>
            <p>IMO: <input type="text" name="imo" required></p>
        </div>
        <div class="Container-add-ship">
            <span class="Floating-text">Nome Da Embarcação</span>
            <p>NAVIO: <input type="text" name="navio" required></p>
        </div>
        <div class="Container-add-ship">
            <span class="Floating-text">Exportação/Importação</span>
            <p>OPERAÇÃO: <input type="text" name="op"></p>
        </div>
        <div class="Container-add-ship">
            <span class="Floating-text">Comprimento do Navio em Metros</span>
            <p>COMP(M): <input type="text" name="comp"></p>
        </div>
        <div class="Container-add-ship">
            <span class="Floating-text">Quantidade de Carga Descarregada do Navio</span>
            <p>DWT: <input type="text" name="dwt" required></p>
        </div>
        <div class="Container-add-ship">
            <span class="Floating-text">Carga Carregada Pelo Navio </span>
            <p>CARGA: <input type="text" name="carga"></p>
        </div>
        <div class="Container-add-ship">
            <span class="Floating-text">Quantidade de Carga Carregada Pelo Navio</span>
            <p>QTD.CARGA: <input type="text" name="qtd_carga" required></p>
        </div>
        <div class="Container-add-ship">
            <span class="Floating-text">Tamanho do Calado do Navio em Metros</span>
            <p>CALADO(M): <input type="text" name="calado"></p>
        </div>
        <div class="Container-add-ship">
            <span class="Floating-text">Agência Responsável</span>
            <p>AGÊNCIA: <input type="text" name="agencia"></p>
        </div>
        <div class="container-button-add">
            <button type="submit" class="button-add-ship">Adicionar<i class="fas fa-code-branch"></i></button>
        </div>
    </form>
    {% if error_message %}
        <div style="color: red; margin-top: 10px;">{{ error_message }}</div>
    {% endif %}
</body>


</html>
