<!DOCTYPE html>
<html lang="pt-BR">
{% include 'Ships/partials/head.html' %}
{% include 'Ships/partials/header.html' %}

<style>
    .add-ship-title {
        font-size: 2.7rem;
        color: var(--color-black);
        text-decoration: none;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin: auto;
    }

    h1 {
        text-align: $align;
        padding: 30px 0px 20px 0px;
        font: 25px Oswald;
        color: #FFF;
        text-transform: uppercase;
        text-shadow: #000 0px 1px 5px;
        margin: 0px;
    }
</style>


<body>
    <h1 class="add-ship-title">Simulação De Deslastro De Navios</h1>
    <form method="post" action="{% url 'simulation' %}">
        {% csrf_token %}
        <div class="Container-add-ship">
            <label for="Situação">SITUAÇÃO:</label>
            <select id="situacao" name="situacao" required>
                <option value="none"></option>
                <option value="Atracados">Atracados</option>
                <option value="Fundeados">Fundeados</option>
                <option value="Esperando">Esperando</option>
            </select><label class="mandatory"> *</label>
        </div>
        <div class="Container-add-ship">
            <span class="Floating-text">Identificação da Embarcação</span>
            <p>IMO: <input type="text" name="imo" required> <label class="mandatory"> *</label></p>
        </div>
        <div class="Container-add-ship">
            <span class="Floating-text">Nome Da Embarcação</span>
            <p>NAVIO: <input type="text" name="navio" required> <label class="mandatory"> *</label></p>
        </div>
        <br>
        <div class="Container-add-ship">
            <label for="Operação">OPERAÇÃO:</label>
            <select id="op" name="op">
                <option value="none"></option>
                <option value="Importação">Importação</option>
                <option value="Exportação">Exportação</option>
            </select><label class="mandatory"></label>
        </div>
        <div class="Container-add-ship">
            <span class="Floating-text">Comprimento do Navio em Metros</span>
            <p>COMP(M): <input type="text" name="comp"></p>
        </div>
        <div class="Container-add-ship">
            <span class="Floating-text">Quantidade de Carga Descarregada do Navio</span>
            <p>DWT: <input type="text" name="dwt" required> <label class="mandatory"> *</label></p>
        </div>
        <div class="Container-add-ship">
            <span class="Floating-text">Carga Carregada Pelo Navio </span>
            <p>CARGA: <input type="text" name="carga"></p>
        </div>
        <div class="Container-add-ship">
            <span class="Floating-text">Quantidade de Carga Carregada Pelo Navio</span>
            <p>QTD.CARGA: <input type="text" name="qtd_carga" required> <label class="mandatory"> *</label></p>
        </div>
        <div class="Container-add-ship">
            <span class="Floating-text">Tamanho do Calado do Navio em Metros</span>
            <p>CALADO(M): <input type="text" name="calado"></p>
        </div>
        <div class="Container-add-ship">
            <span class="Floating-text">Agência Responsável</span>
            <p>AGÊNCIA: <input type="text" name="agencia"></p>
        </div>
        <div class="container-button-add">
            <button type="submit" class="button-add-ship" name="simu">Simular<i class="fas fa-code-branch" onclick="window.open('http://127.0.0.1:8000/simulation-view', '_blank')"></i></button>
        </div>
    </form>
    {% if error_message %}
    <div style="color: red; margin-top: 10px;">{{ error_message }}</div>
    {% endif %}
</body>


</html>